/*Gneral Settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

i,
svg {
	pointer-events: none;
}

/* General Pad Settings */
.kick-pad,
.snare-pad,
.hihat-pad,
.clap-pad {
	width: 5rem;
	height: 5rem;
	margin: 1rem 0.5rem;
	cursor: pointer;
}

/* Pad Colors */

.kick-pad {
	background: rgb(143, 204, 253);
}
.kick-pad.active {
	background: rgb(86, 174, 246);
}

.snare-pad {
	background: rgb(215, 128, 255);
}
.snare-pad.active {
	background: rgb(190, 65, 248);
}

.hihat-pad {
	background: rgb(255, 188, 143);
}
.hihat-pad.active {
	background: rgb(255, 149, 78);
}

.clap-pad {
	background: rgb(143, 253, 158);
}
.clap-pad.active {
	background: rgb(28, 238, 39);
}

.sequencer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track,
.clap-track {
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: space-between;
	margin-top: 5rem;
}

.kick,
.snare,
.hihat,
.clap {
	display: flex;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	margin: 0rem 2rem;
}

.controls button {
	padding: 1rem;
	border: none;
	background: darkgrey;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.pad {
	transition: all 0.5s ease;
}

.play {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: rgb(88, 88, 88);
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 3rem;
}

select {
	padding: 1rem;
	font-size: 1rem;
}

@keyframes playTrack {
	from {
		transfrom: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
